.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: black;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    25% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
    }
    50% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
    }
    75% {
      box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    100% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
  }

a{
  background-color: red;
}

a.closebtn{
  background-color: initial;
}

div#pop-out {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.2);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
div#message {
  width: 50%;
  height: 100px;
  margin: 0 auto;
  border: 1px solid red;
  text-align: center;
  line-height: 100px;
}

img{
  transition: transform .9s;
}

img:hover{
  transform: scale(1.2); /* Équivalent à scaleX(2) scaleY(0.5) */
  transform-origin: left;
}

body {
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;

}

/* Décrire l'animation */
@keyframes slideDownFadeIN {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/* Foncer l'arrière-plan de la fenêtre modale */
.modal {
display: none; 
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5);
}

/* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */
.modal:target {
display: table;
position: absolute;
}

/* la fenêtre modale  */
.modal-dialog {
display: table-cell;
vertical-align: middle;
}

/* Le contenu de la modale */
.modal-dialog .modal-content {
margin: auto;
background-color: #f3f3f3;
position: relative;
padding: 0;
outline: 0;
border: 1px #777 solid;
text-align: justify;
width: 80%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

animation-name: slideDownFadeIN;
animation-duration: 0.5s;
}

/* Bouton servant à fermer la fenêtre modale */
.closebtn {
text-decoration: none;
float: right;
font-size: 30px;
font-weight: bold;
color: #fff;
}

.closebtn:hover,
.closebtn:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.container {
padding: 2px 16px;
}

header {
font-size: 25px;
}
